body{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: teal;
    color: whitesmoke;
}

#title{
    padding: 2.5vh;
    text-align: center;
    margin: 0;
    color: whitesmoke;
    background-color: teal;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    background-color: teal;

    padding-bottom: 1vh;
}

button{
    background-color: whitesmoke;
    color: teal;
    font-weight: bolder;
    font-size: large;
    border: none;
    border-radius: 2.5vh;
    height: 10vh;
    width: 10vh;
}

button:hover{
    color: whitesmoke;
    background-color: teal;
    border: 0.2vh solid whitesmoke;
}

#content{
    background-color: rgb(14, 164, 164);
    border-radius: 5vh ;
    padding: 1vh;
    text-align: start;
}

.mainImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: fit-content;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
}
